/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --blackish: #162E25;
    --grey: #665F5E;
    --orange: #FFB041;
    --hotterpink: #fa37fd;
    --hotpink: #FE8CFF;
    --teal: #54EAE8;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --font-size-large: 4rem;
    --mono: "Roboto Mono", monospace;
    --sans: "Rubik", sans-serif;
}

/* Full page styles, apply defaults to everything first */
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--blackish);
    color: var(--white);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--hotpink);
}
a:hover {
    color: var(--hotterpink);
    text-decoration: none;
}
/* End full page styles */

/* Intro styles */
#intro {
    padding-bottom: 10rem;
}

#intro p {
    font-size: 1rem;
    /* Using a unit with line-height is a common mistake, no unit is proportional to the font-size */
    line-height: 1.5;
}

#intro h2 {
    font-size: var(--font-size-large);
    font-weight: normal;
}

#intro .name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--orange);
    display: block;
}

/* Contact styles */
#contact {
    padding: 3rem 0;
    background-color: var(--teal);
    color: var(--blackish);
    text-align: center;
}

#contact p {
    display: inline-block;
    width: 40%;

}

#contact a {
    display: block;
    padding-top: 2rem;
}

nav {
    font-family: var(--mono);
    /* Nice trick to proportionally shrink the entire set of sizes */
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
        /* The three most important flex properties */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* Assigns a nice space in all elements */
    gap: 2rem;
}

nav li:first-child {
    /* Flex basis makes this take 100% of the width of the container */
    flex-basis: 100%;
    text-align: center;
    /* Debugging trick, throw a border on it! */
    /* border: 1px solid red; */
}

nav a {
    color: var(--white);
    text-decoration: none;
    /* Normally a elements are spans, but for a nav
        making them blocks work for a better UX
    */
    display: block;
}
nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--orange)
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--teal)
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    padding-right: .5rem;
}